---
import Layout from "@/layouts/Layout.astro"
import { getCollection, render } from "astro:content"

export async function getStaticPaths() {
	const posts = await getCollection("posts")
	return posts.map(post => ({
		params: { slug: post.id },
		props: post,
	}))
}
const post = Astro.props
const { Content } = await render(post)
---

<Layout {...post.data} type ogImage={post.data.ogImage?.src}>
	<h1 class="">
		{post.data.title}
	</h1>

	<main class="">
		<Content />
	</main>
</Layout>
