---
import { communities } from "@/data/communities"
import Layout from "@/layouts/Layout.astro"
import { render } from "astro:content"

export async function getStaticPaths() {
	return communities.map(post => ({
		params: { slug: post.id },
		props: post,
	}))
}
const post = Astro.props
const { Content } = await render(post)
---

<Layout {...post} type>
	<h1 class="">
		{post.title}
	</h1>

	<main class="">
		<Content />
	</main>
</Layout>
