---
import RelatedPosts from "@/components/RelatedPosts.astro"
import Layout from "@/layouts/Layout.astro"
import { getCollection, render } from "astro:content"

const archive = await getCollection("archive")
export async function getStaticPaths() {
	const posts = await getCollection("archive")
	return posts.map(post => ({
		params: { slug: post.id },
		props: post,
	}))
}
const post = Astro.props
const { Content } = await render(post)
---

<Layout {...post.data} type ogImage={post.data.ogImage?.src} hidePageHeader>
	<main class="my-prose">
		<article data-iv-article>
			<header class="mb-8">
				<h1
					data-iv-title
					class="mb-3 font-black tracking-tight text-4xl md:text-5xl"
				>
					{post.data.title}
				</h1>
				{
					post.data.pubDate && (
						<time
							data-iv-date
							datetime={post.data.pubDate}
							class="text-zinc-600 text-sm"
						>
							{new Date(post.data.pubDate).toLocaleDateString("ru-RU", {
								year: "numeric",
								month: "numeric",
								day: "numeric",
							})}
						</time>
					)
				}
			</header>
			<Content />
		</article>
	</main>
	<RelatedPosts posts={archive} href="/archive" />
</Layout>
