---
import Layout from "@/layouts/Layout.astro"
import { getCollection, render } from "astro:content"

export async function getStaticPaths() {
	const posts = await getCollection("archive")
	return posts.map(post => ({
		params: { slug: post.id },
		props: post,
	}))
}
const post = Astro.props
const { Content } = await render(post)
---

<Layout {...post.data} type ogImage={post.data.ogImage?.src}>
	<a href="/archive" class="bg-black text-white mx-auto max-w-fit px-3 py-1.5 rounded-md"
		>Назад к архиву</a
	>
	<main class="my-prose">
		<Content />
	</main>
</Layout>
