---
import Author from "@/components/Author.astro"
import RelatedPosts from "@/components/RelatedPosts.astro"
import Layout from "@/layouts/Layout.astro"
import { getCollection, render } from "astro:content"

const archive = await getCollection("archive")
export async function getStaticPaths() {
	const posts = await getCollection("archive")
	return posts.map(post => ({
		params: { slug: post.id },
		props: post,
	}))
}
const post = Astro.props
const { Content } = await render(post)
---

<Layout {...post.data} type ogImage={post.data.ogImage?.src}>
	<div
		class="flex max-w-6xl md:flex-nowrap flex-wrap gap-4 mx-auto w-full justify-between items-center"
	>
		<a href="/archive" class="bg-black text-white px-3 py-1.5 rounded-md"
			>Назад к архиву</a
		>

		<div class="flex gap-4 items-center p-2 py-1.5 bg-white rounded-md">
			<Author data={post.data} />
			{
				post.data.pubDate && (
					<time datetime={post.data.pubDate} class="self-end text-zinc-600">
						🗓
						{new Date(post.data.pubDate).toLocaleDateString("ru-RU", {
							year: "numeric",
							month: "numeric",
							day: "numeric",
						})}
					</time>
				)
			}
		</div>
	</div>
	<main class="my-prose">
		<Content />
	</main>
	<RelatedPosts posts={archive} href="/archive" />
</Layout>
