---
import Article from "@/components/Article.astro"
import ArchiveFilter from "@/components/svelte/ArchiveFilter.svelte"
import Layout from "@/layouts/Layout.astro"
import { getCollection } from "astro:content"

const archives = (await getCollection("archive")).sort(
	(a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate),
)

const archivesTags = archives
	.reduce((acc, curr) => {
		const tags = curr.data?.tags || []
		return [...new Set([...acc, ...tags])]
	}, [])
	.sort((a, b) => a.localeCompare(b))
---

<Layout
	title="Архив 12 шагов"
	description="Архив статей о 12 шагах: шаги выздоровления, практики, темы и опыт."
>
	<ArchiveFilter client:load tags={archivesTags} />

	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3" data-posts>
		{archives && archives.map((item) => <Article data={item.data} id={item.id} />)}
	</div>
</Layout>
