---
import RelatedPosts from "@/components/RelatedPosts.astro"
import Layout from "@/layouts/Layout.astro"
import { getCollection, render } from "astro:content"
const methods = await getCollection("methods")
export async function getStaticPaths() {
	const posts = await getCollection("methods")
	return posts.map(post => ({
		params: { slug: post.id },
		props: post,
	}))
}
const post = Astro.props
const { Content } = await render(post)
---

<Layout {...post.data} type ogImage={post.data.ogImage?.src}>
	<a
		href="/methods"
		class="text-[color:var(--bg)] mx-auto bg-[color:var(--text)] rounded-md py-1.5 px-3"

	>
		>Назад к методам</a
	>
	<main class="my-prose">
		<Content />
	</main>
	<RelatedPosts posts={methods} href="/methods" />
</Layout>
