---
import Layout from "@/layouts/Layout.astro"
---

<Layout
	title="Ошибка 404 - такой страницы не существует"
	mainTitlePresent="Ошибка 404"
	description="Страница не найдена. Возможно, она была удалена или перемещена."
>
	<h1></h1>
</Layout>
