---
import Layout from "@/layouts/Layout.astro"

const text = [
	{
		title: "Сообщества",
		style_ping: "bg-indigo-400",
	},
	{
		title: "Методы",
		style_ping: "bg-blue-400",
	},
	{
		title: "Опыт разработки",
		style_ping: "bg-green-400",
	},
	{
		title: "Прочее",
		style_ping: "bg-red-400",
	},
]

const text1 = [
	{
		title: "Сообщества",
		style: "rose",
	},
	{
		title: "Методы",
		style: "indigo",
	},
	{
		title: "Прочее",
		style: "green",
	},
	{
		title: "Методы",
		style: "violet",
	},
]

import BlockCard from "@/components/BlockCard.astro"
import { Icon } from "astro-icon/components"
---

<Layout
	title="12 шагов"
	description="Интересная информация, материалы, методы прохождения двенадцати шагов, 50 видов сообществ и многое другое."
>
	<section
		class="flex flex-wrap bg-white rounded-lg sm:rounded-full max-w-fit mx-auto px-6 py-3 gap-4 justify-center items-center"
	>
		{
			text &&
				text.map(item => (
					<div class="inline-flex items-center gap-2">
						<div class="relative">
							<div class={`w-2 h-2 rounded-full ${item.style_ping} animate-ping`} />
							<div class={`w-2 h-2 rounded-full ${item.style_ping} absolute inset-0`} />
						</div>
						<span class="font-medium text-zinc-700">{item.title}</span>
					</div>
				))
		}
	</section>

	<section
		class="bg-white grid sm:grid-cols-2 gap-6 grid-cols-1 p-6 rounded-xl w-full max-w-4xl mx-auto"
	>
		<BlockCard
			link="/communities"
			title="Список сообществ"
			icon="mdi:account-group"
			description="Список из 57 анонимных двенадцати шаговых сообществ."
		/>
		<BlockCard
			link="/methods"
			title="Методы шагов"
			icon="mdi:lightbulb-group"
			w
			description="Список разных методов прохождения двенадцати шагов."
		/>
		<BlockCard
			link="/archive"
			title="Архив"
			icon="mdi:math-integral-box"
			description="Посты, статьи, материалы и прочее."
		/>
		<BlockCard
			description="Скоро..."
			icon="mdi:account-details"
			styleBtn="bg-green-500"
			textBtn="Создать"
			style="border-green-200 bg-green-50 text-green-700"
			title="Генератор Преамбул"
			link="#"
		/>
		<!-- <BlockCard description="" icon="" style="" title="" /> -->
	</section>

	<section class="bg-white max-w-4xl mx-auto rounded-xl">
		<div class="flex">
			<div class="p-6 flex flex-col gap-3 items-start">
				<h2 class="text-lg font-bold">Проект от НК "Действия"</h2>
				<p class="leading-relaxed text-zinc-600">
					Это независимый комитет, созданный для поддержки и развития различных 12-шаговых
					сообществ. Мы ориентированы на обмен опытом, консультации и помощь в реализации
					проектов, особенно в IT-сфере и связанных направлениях.
				</p>
				<a
					class="px-3 py-1.5 mt-1.5 rounded-md font-medium flex gap-1 items-center bg-blue-50 text-blue-700 border border-blue-200"
					target="_blank"
					href="https://docs.google.com/document/d/16yZCl16vD8pVHhMqo_LltiOGF0M7FVYXscgoQP5vPbM/edit?usp=sharing"
					><Icon name="mdi:file-pdf" /><span>НК "Действия" Документ</span></a
				>
			</div>
			<!-- <Image
				width={320}
				height={320}
				src={nk}
				alt="Логотип независимого комитета Действия"
				class="sm:w-64 object-contain sm:object-cover rounded-r-xl"
			/> -->
		</div>
	</section>
</Layout>
