---

---

<div class="loader mx-auto mb-6">
	<div
		class="blockName tracking-tighter bg-gradient-to-br from-blue-700 to-blue-500 flex items-center justify-center"
	>
		<span>АА</span>
	</div>
	<div
		class="blockName tracking-tighter bg-gradient-to-br from-blue-900 to-blue-700 flex items-center justify-center"
	>
		<span>АН</span>
	</div>
	<div
		class="blockName tracking-tighter bg-gradient-to-br from-gray-300 to-zinc-400 flex items-center justify-center"
	>
		<span>АПРО</span>
	</div>
	<div
		class="blockName tracking-tighter bg-gradient-to-br from-green-300 to-emerald-400 flex items-center justify-center"
	>
		<span>АИЗ</span>
	</div>
	<div
		class="blockName tracking-tighter bg-gradient-to-br from-red-500 to-red-600 flex items-center justify-center"
	>
		<span>ВДА</span>
	</div>
	<div
		class="blockName tracking-tighter bg-gradient-to-br from-pink-500 to-red-300 flex items-center justify-center"
	>
		<span>АС</span>
	</div>
	<div class="blockName tracking-tighter all flex items-center justify-center">ВСЕ</div>
</div>

<style>
	.all {
		background-size: 100% 100%;
		background: radial-gradient(
			at right top,
			rgb(192, 38, 211),
			rgb(34, 211, 238),
			rgb(243, 244, 246)
		);
	}
	.loader {
		position: relative;
		width: 100px;
		height: 100px;
		perspective: 800px;
	}

	.blockName {
		border: 1px solid white;
		color: white;
		font-weight: bold;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 60px;
		height: 60px;
		opacity: 0;
		transform-origin: center;
		transform: translate(-50%, -50%);
		animation:
			circleMove 4s ease-in-out forwards,
			fadeIn 0.3s ease-out forwards;
		border-radius: 10px;
	}

	/* Анимация движения по кругу и складывания */
	@keyframes circleMove {
		0% {
			transform: translate(-50%, -50%) rotate(0deg) translateX(80px);
		}
		50% {
			transform: translate(-50%, -50%) rotate(360deg) translateX(80px);
		}
		100% {
			transform: translate(-50%, -50%) scale(1.25);
		}
	}

	/* Анимация появления */
	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}

	/* Индивидуальные цвета и задержки */
	.blockName:nth-child(1) {
		/* background: linear-gradient(45deg, #ff7eb3, #ff758c); */
		animation-delay: 0s;
	}

	.blockName:nth-child(2) {
		/* background: linear-gradient(45deg, #ff9a8b, #ff6a88); */
		animation-delay: 0.2s;
	}

	.blockName:nth-child(3) {
		/* background: linear-gradient(45deg, #fbc2eb, #a6c1ee); */
		animation-delay: 0.4s;
	}

	.blockName:nth-child(4) {
		/* background: linear-gradient(45deg, #84fab0, #8fd3f4); */
		animation-delay: 0.6s;
	}

	.blockName:nth-child(5) {
		/* background: linear-gradient(45deg, #c2ffd8, #465efb); */
		animation-delay: 0.8s;
	}

	.blockName:nth-child(6) {
		/* background: linear-gradient(45deg, blue, red); */
		animation-delay: 1s;
	}
	.blockName:nth-child(7) {
		/* background: linear-gradient(45deg, #ff9a8b, #fad0c4); */
		animation-delay: 1.2s;
	}
</style>
