---
import { cn } from "@/utils/cn"
import { Icon } from "astro-icon/components"
const { style, title, textBtn, styleBtn, description, icon, link } = Astro.props
---

<article
	class={cn(
		"flex flex-col justify-between gap-3 rounded-xl p-4 bg-white border-[0.6px] border-zinc-200",
		style,
	)}
>
	<div>
		<h2 class="text-lg mb-3 font-bold flex gap-1 items-center">
			{icon && <Icon name={icon} />}
			<span>{title}</span>
		</h2>
		<p class="text-zinc-600">
			{description}
		</p>
	</div>
	<a
		href={link}
		class={cn(
			"text-white mt-1.5 px-3  py-1.5 max-w-fit bg-zinc-800 rounded-md",
			styleBtn,
		)}>{textBtn || "Подробнее"}</a
	>
</article>
