---

---

<a href="/" title="Логотип Unity One" class="flex gap-2 items-center text-[color:var(--text)]">
	<img src="/favicon.svg" width="24" height="24" alt="Unity One" title="Unity One" />
	<span class="font-bold text-lg">Unity One</span>
</a>
