---

---

<a
	href="/"
	title="Логотип UnitOne"
	class="flex gap-2 items-center text-[color:var(--text)]"
>
	<svg
		width="28"
		height="28"
		viewBox="0 0 28 28"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M15.3048 0C15.2632 0.363809 15.2528 0.738003 15.2528 1.10181C15.2424 4.06953 16.4067 6.85541 18.5168 8.95514C20.7049 11.1329 23.5843 12.2191 26.4688 12.2191C26.7339 12.2191 27.0041 12.2087 27.2691 12.1879C27.16 11.1952 26.9574 10.2233 26.6507 9.30851C24.4418 9.36049 22.2329 8.54969 20.5645 6.89689C19.0053 5.34809 18.153 3.29 18.1634 1.11231C18.1634 0.961551 18.1737 0.810797 18.1737 0.675646C17.259 0.353426 16.2975 0.119548 15.3048 0ZM11.6458 0.0208221C10.6635 0.161138 9.72272 0.405399 8.81842 0.738003C10.1074 4.9011 12.4254 8.73159 15.6166 11.9124C18.7454 15.0308 22.4564 17.2294 26.4064 18.5287C26.7495 17.6296 27.0145 16.6941 27.1652 15.7118C23.6933 14.5476 20.4294 12.5933 17.6748 9.84906C14.8579 7.04248 12.81 3.69018 11.6458 0.020877M21.2297 2.18808C20.814 2.69226 20.5801 3.32109 20.5801 3.98119C20.5645 4.74002 20.866 5.45203 21.4013 5.98736C21.9367 6.52269 22.6382 6.81893 23.3971 6.81893H23.4075C24.0572 6.81893 24.6653 6.60593 25.1694 6.20053C24.1456 4.61014 22.7994 3.23275 21.2297 2.18808ZM5.08154 2.85856C4.32271 3.46668 3.62108 4.14744 3.00263 4.89593L22.2329 24.2718C23.0022 23.6638 23.683 22.9673 24.2911 22.2137L5.08154 2.85856ZM0.75725 8.80439C0.412247 9.71747 0.168271 10.6656 0.0296859 11.6318C3.5951 12.796 6.94745 14.771 9.76442 17.5776C12.5191 20.3218 14.5356 23.5962 15.7206 27.1616C16.703 27.0108 17.6436 26.7562 18.5376 26.4028C17.2226 22.3384 14.9514 18.6119 11.8226 15.5039C8.61058 12.3283 4.81124 10.0985 0.757305 8.80439M1.20182 15.213C0.800276 15.2055 0.398618 15.2193 -0.00146484 15.2543C0.118029 16.2471 0.341523 17.2085 0.658524 18.1233C2.89863 18.0401 5.1751 18.8406 6.87987 20.5349C8.43906 22.0837 9.29144 24.142 9.28106 26.3197C9.28106 26.4132 9.28106 26.5223 9.27068 26.6211C10.2039 26.9379 11.1697 27.1489 12.15 27.25C12.1708 26.9485 12.1915 26.6418 12.1915 26.33C12.1968 23.3727 11.043 20.5765 8.9328 18.4768C6.80444 16.3575 4.01159 15.265 1.20182 15.213ZM4.03159 20.6129C3.36116 20.6129 2.72705 20.8468 2.21771 21.273C3.27277 22.8426 4.65015 24.1783 6.25098 25.1918C6.646 24.7032 6.859 24.0899 6.859 23.4506C6.859 22.6918 6.57315 21.9746 6.03782 21.4444C5.50249 20.9091 4.80091 20.6129 4.04208 20.6129H4.03159Z"
			fill="currentColor"></path>
	</svg>
	<span class="font-bold text-lg">UnitOne</span>
</a>
